


<div class="tarjetagris">

        <div class="header3">
            <h1> F<span>O</span>RUM</h1>
        </div>
        <div class="teinvita">
            <p>Te invita</p>
        </div>
        
        <div class="emp">Circulo <br>Emprendedores</div>
        <div class="circulo2">
            O
        </div>
        <div class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed itaque non corporis porro eius hic necessitatibus atque similique tempore? Hic nostrum, quasi voluptates quod esse cupiditate exercitationem nobis perspiciatis dolorum?</div>
        
</div>